/* breakpoints */
$mobile: 768px;
$tablet: 769px;
$max-content: 1200px;
$box-content: 360px;

/* color */
:root .theme {
  // light theme
  --color-main: rgb(54, 54, 54);
  --color-alt: rgb(170, 170, 170);
  --color-line: rgb(234, 234, 234);
  --color-box: rgb(249, 249, 249);
  --color-background: rgb(255, 255, 255);

  // dark theme
  &.dark {
    --color-main: rgb(250, 250, 250);
    --color-alt: rgb(188, 187, 201);
    --color-line: rgb(42, 52, 68);
    --color-box: rgb(45, 55, 72);
    --color-background: rgb(26, 32, 44);
  }
}

$color-main: var(--color-main);
$color-alt: var(--color-alt);
$color-line: var(--color-line);
$color-box: var(--color-box);
$color-background: var(--color-background);

$color-accent: rgb(103, 73, 220);
$color-success: rgb(39, 174, 96);

/* fonts */
$font-family-regular: 'Golos-Text_Regular', arial, sans-serif;
$font-family-medium: 'Golos-Text_Medium', arial, sans-serif;

/* fonts size */
$font-size-title-1: 22px;
$font-size-title-1-mobile: 18px;
$font-size-body-1: 16px;
$font-size-body-2: 14px;

/* border radius */
$border-radius-primary: 12px;
$border-radius-secondary: 8px;

/* other */
$transition: all 240ms ease-in-out;
$line: 1px solid $color-line;
$box-shadow: 0 25px 60px rgba(0, 0, 0, 0.12);
